<h1><%= @student.to_s %></h1>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<button type="button"><%= link_to "Edit", edit_student_path(@student) %></button>
<button type="button"><%= link_to "Go Back", students_path %></button>
